.board-header {
  position: fixed;
  height: 52px;
  top: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 4px 4px 8px;
  padding-left: 32px;
  z-index: 1;
  transition: margin 0.5s, padding-inline-start 0.5s, padding 0.5s;
  //   textarea ,
  .title {
    // background-color: #00000014;
    // color: #172b4d;
    font-weight: 700;
    padding: 0 12px;
    position: relative;
    max-height: 32px;
    border-radius: 3px;
    float: left;
    // max-width: calc(100vw - 39px);
    max-width: 50vw;
    line-height: 32px;
    font-size: 18px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // &:focus-visible {
    //   white-space: unset;
    //   background-color: #fff;
    //   box-shadow: inset 0 0 0 2px #0079bf;
    //   outline: none;
    // }
  }

  & button,
  span {
    background-color: #ffffff3d;
    height: 32px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    padding-right: 12px;
    padding-left: 12px;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: background 85ms;
  }
  // & bh-btn:hover,
  // span:not(.board-title):hover {
  //   background-color: #ffffff52;
  // }

  // & button:active,
  // span:not(.board-title):active {
  //   background-color: #fff6;
  // }
  &.dark {
    // & button,
    .title,
    .bh-btn {
    // & button,
    // .title,
    // span {
      color: #fff;
      background-color: #ffffff3d;
    }
    // & button:hover,
    .title:hover,
    .bh-btn:hover {
      background-color: #ffffff52;
    }
  }

  &.light {
    // & button,
    .title,
    .bh-btn {
  // &.light {
  //   & button,
  //   .title,
  //   span {
      background-color: #00000014;
      color: #172b4d;
    }
    .bh-btn:hover
    {
    // & button:hover,
    // .title:hover,
    // span:not(.board-title):hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .title {
    &:focus-visible {
      color: #172b4d;
      cursor: text;
      white-space: unset;
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      outline: none;
      &:hover {
        background-color: #fff;
      }
    }
  }
  .board-star {
    padding: 0;
    padding-left: 9px;
    padding-right: 3px;
    line-height: 37px;
  }

  & p {
    display: flex;
    align-items: center;
    padding-left: 10px;

    & button:first-of-type {
      margin-left: 12px;
    }
    & .vue-avatar--wrapper {
    }
    & .smooth-dnd-draggable-wrapper {
      // border: 3px solid white;
      margin: 0 0 0 -4px;
      z-index: unset;
    }
    // & :first-child {
    //   margin: 0;
    // }
  }
}
