// body {
.on-board {
  // background-image: url('../assets/img/background1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  // @media (max-width: 550px) {
  //   header.main-header {
  //     display: none;
  //   }
  // }
}
.board-app {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // overflow-y: hidden;
  background-attachment: fixed;

  @include scroll-bar;
  ::-webkit-scrollbar {
    height: 12px;
  }
  ::-webkit-scrollbar-button {
    width: 25px;
    height: 18px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.45);
    // border: 0px none #ffffff;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    // border: 0px none #ffffff;
    border-radius: 4px;
  }
}
.board-container {
  // position: relative;
  // width: 100%;
  // overflow-x: scroll;
  // overflow-y: hidden;
  // white-space: nowrap;
  // transition: all 0.2s;
  // transform: scale(0.98);
  // will-change: transform;
  // user-select: none;
  // cursor: pointer;
  display: flex;
}
.board {
  // @media (max-width: 550px) {
  // height: calc(100vh - 69px);
  // padding-left: 8px;
  // }
  display: flex !important;
  list-style: none;
  align-items: flex-start;
  height: calc(100vh - 105px);
  position: relative;
  flex-grow: 1;
  // min-height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 28px;
  margin-inline-start: 4px;
  margin: 0;
  transition: padding 0.5s;
}

.nav-open {
  padding-left: 267px;
}

.add-list-wrapper {
  position: relative;
  .list-add {
    width: 272px;
    margin: 0 4px;
    &.add-list {
      opacity: 1;
      background-color: hsl(227, 14%, 93%);
      .list-add-controls {
        height: 32px;
        margin: 4px 0 0;
        .add-list-btn {
          margin-right: 2px;
        }
        .close-add-btn {
          color: #42526e;
          &:hover {
            color: #172b4d;
          }
        }
      }
    }
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    padding: 4px;
    position: absolute;
    input {
      opacity: 1;

      @include popup-input;
      margin: 0;
    }
    .list-add-controls {
      display: flex;
      height: 0;
      margin: 0;
      overflow: hidden;
      transition: margin 85ms ease-in, height 85ms ease-in;
    }
  }
}

.new-list {
  border-radius: 3px;
  position: absolute;
  opacity: 1;
  line-height: 28px;
  padding: 6px 8px;
  transition: background 85ms;
  width: 272px;
  margin: 0 4px;
  &:hover {
    background-color: #ffffff52;
  }
  p {
    display: flex;
    line-height: 24px;
    padding-block-start: 4px;
    padding-inline-start: 5px;
  }
  &.dark {
    color: #fff;
    background-color: #ffffff3d;
    &:hover {
      background-color: #ffffff52;
    }
  }

  &.light {
    background-color: #00000014;
    color: #172b4d;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  span {
  }
}

.height-0 {
  height: 0;
  width: 0;
  opacity: 0;
  z-index: -100;
  transition: margin 85ms ease-in, height 85ms ease-in;
}

// .list {
//   margin: 0 4px;
//   padding: 0 4px;
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   max-height: calc(100vh - 120px);
//   > * {
//     font-weight: 600;
//   }

//   header {
//     display: flex;
//     line-height: 40px;
//     align-items: center;

//     h4 {
//       width: 100%;
//       padding-inline-start: 10px;
//       cursor: pointer;
//     }

//     button {
//       @include basic-selector;
//       @include icon-btn;
//     }

//     textarea {
//       overflow: hidden;
//       overflow-wrap: break-word;
//       height: 30px;
//       resize: none;
//       background-color: white;
//       border-radius: 3px;
//       border-color: #0079bf;
//       border-width: 2px;
//       font-weight: 600;
//       max-height: 256px;
//       min-height: 20px;
//       padding: 3px 8px;
//       margin: 5px 0;
//       width: 230px;
//     }
//   }

//   .card-list {
//     list-style: none;
//     max-height: 90vh;
//     overflow-y: auto; //TODO:
//   }

//   footer {
//     button {
//       @include basic-selector;
//       margin: 2px 0 8px;
//       padding: 4px 8px;
//       width: 100%;
//       text-align: left;
//       border-radius: 3px;

//       span {
//         width: 20px;
//         height: 20px;
//         padding-inline-end: 2px;
//       }
//     }
//   }

//   /* ===== Scrollbar CSS ===== */
//   /* Firefox */
//   * {
//     scrollbar-width: auto;
//     scrollbar-color: #bfc4ce #d9dce2;
//   }

//   ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
//   }
//   ::-webkit-scrollbar-button {
//     width: 0px;
//     height: 0px;
//   }
//   ::-webkit-scrollbar-thumb {
//     background: #bfc4ce;
//     border: 0px none #ffffff;
//     border-radius: 8px;
//   }
//   ::-webkit-scrollbar-track {
//     background: #d9dce2;
//     border: 0px none #ffffff;
//     border-radius: 8px;
//   }
//   ::-webkit-scrollbar-corner {
//     background: transparent;
//   }
// }
