.list {
  margin: 0 4px;
  padding: 0 0 0 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: calc(100vh - 125px);
  > * {
    font-weight: 600;
    padding-right: 4px;
  }

  header {
    display: flex;
    line-height: 40px;
    align-items: center;

    h4 {
      font-weight: 500;
      width: 100%;
      padding-inline-start: 9px;
      cursor: pointer;
    }

    button {
      @include basic-selector;
      @include icon-btn;
      right: 0px;
      span {
        margin: 0;
        line-height: 28px;
      }
    }

    textarea {
      overflow: hidden;
      overflow-wrap: break-word;
      height: 30px;
      resize: none;
      background-color: white;
      border-radius: 3px;
      border-color: #0079bf;
      border-width: 2px;
      font-weight: 600;
      max-height: 256px;
      min-height: 20px;
      padding: 3px 7px;
      margin: 5px 0;
      width: 230px;
    }
  }

  .card-list {
    list-style: none;
    max-height: 90vh;
    overflow-y: auto; //TODO:

    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      overflow-wrap: break-word;
    }
  }

  footer {
    .add-card {
      @include basic-selector;
      display: flex;
      align-items: center;
      margin: 2px 0 8px;
      padding: 4px 8px;
      width: 100%;
      text-align: left;
      border-radius: 3px;

      span {
        margin-right: 2px;
      }
    }
    .add-card-actions {
      margin: 2px 0 8px;
      display: flex;
      flex-direction: column;
      input {
        @include popup-input;
        width: 100%;
      }
      .add-card-btns {
        display: flex;
        justify-content: space-between;
        .submit-btns {
          display: flex;
          align-items: center;
          .submit-card {
            &:hover {
              cursor: pointer;
            }
          }
          .close-add-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #5e6c84;
            &:hover {
              color: #172b4d;
              cursor: pointer;
            }
          }
        }
        .dots {
          border-radius: 3px;
          box-sizing: border-box;
          overflow: hidden;
          padding: 0px 0px;
          color: #5e6c84;
          display: flex;
          justify-content: center;
          // position: relative;
          span {
            // position: absolute;
            height: 100%;
            margin: 0;
          }
          // justify-self: flex-end;
          &:hover {
            color: #172b4d;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include scroll-bar;
  // /* ===== Scrollbar CSS ===== */
  // /* Firefox */
  // * {
  //   scrollbar-width: auto;
  //   scrollbar-color: #bfc4ce #d9dce2;
  // }
  // ::-webkit-scrollbar {
  //   width: 8px;
  //   height: 8px;
  // }
  // ::-webkit-scrollbar-button {
  //   width: 0px;
  //   height: 0px;
  // }
  // ::-webkit-scrollbar-thumb {
  //   background: #bfc4ce;
  //   border: 0px none #ffffff;
  //   border-radius: 8px;
  // }
  // ::-webkit-scrollbar-track {
  //   background: #d9dce2;
  //   border: 0px none #ffffff;
  //   border-radius: 8px;
  // }
  // ::-webkit-scrollbar-corner {
  //   background: transparent;
  // }
}
