.board-header {
  position: fixed;
  height: 52px;
  top: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 4px 4px 8px;
  padding-left: 32px;
  z-index: 1;
  transition: margin 0.5s, padding-inline-start 0.5s, padding 0.5s;

  & button,
  span {
    background-color: #ffffff3d;
    height: 32px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    padding-right: 12px;
    padding-left: 12px;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: background 85ms;
  }
  & button:hover,
  span:not(.board-title):hover {
    background-color: #ffffff52;
  }

  & button:active,
  span:not(.board-title):active {
    background-color: #fff6;
  }

  & .board-title {
    background-color: #ffffff00;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 12px;
  }

  .board-star {
    padding: 0;
    padding-left: 9px;
    padding-right: 3px;
    line-height: 37px;
  }
}
