.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  max-width: 300px;
  min-height: 20px;
  margin-block-end: 8px;
  padding: 6px 8px 2px;
  position: relative;
  &.with-cover {
    padding: 0px 0px 2px;
    .card-title,
    .card-icons {
      padding: 0 8px 0;
    }
  }

  .cover-img {
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    margin-bottom: 5px;
    // position: absolute;
    width: 100%;
    background-color: transparent;
    background-size: cover;
  }

  .card-title {
    word-wrap: break-word;
    clear: both;
    color: #172b4d;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    font-weight: 400;

    p {
      padding-block-start: 3px;
      padding-inline-end: 22px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(244, 245, 247);
    .edit-wrapper {
      display: block;
      background-color: rgba(235, 236, 240, 0.815);
    }
  }

  .edit-wrapper {
    display: none;
    position: absolute;
    border-radius: 2px;
    right: 2px;
    top: 2px;
    padding: 3px;
    span {
      margin: 0;
      padding: 3px;
    }
    &:hover {
      background-color: rgb(235, 236, 240);
      .q-edit {
        color: #172b4d;
        opacity: 1;
      }
    }
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .q-edit {
      color: #5e6c84;
      opacity: 1;
    }
  }

  .card-icons {
    .icon-wrapper {
      color: #5e6c84;
      display: inline-block;
      margin: 0 4px 4px 0;
      max-width: 100%;
      min-height: 20px;
      overflow: hidden;
      padding: 2px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      vertical-align: top;

      .clock {
        line-height: 19px;
      }
      .badge {
        color: #6b778c;

        vertical-align: top;
      }
      .icon-text {
        font-size: 12px;
        padding: 0 4px 0 2px;
        font-weight: 200;
        vertical-align: top;
        white-space: nowrap;
      }
    }
  }
}

.card-drag {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.card-members-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: -4px;
  padding-bottom: 4px;
  & .member-avatar {
    margin: 0;
    margin-right: 2px;
  }
}
