.card-details-container {
  display: flex;
  align-items: flex-start;
  background-color: #000000a3;
  // display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.card-details {
  background-color: #f4f5f7;
  // position: absolute;
  // top: 48px;
  // bottom: 80px;
  // display: flex;
  // gap: 35px;
  // flex-direction: column;
  // padding: 16px;
  // min-height: 80vh;
  border-radius: 2px;
  margin: 48px 0 80px;
  // margin-bottom: 80px;
  // overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 25;
  & header {
    // margin: 12px 40px 8px 56px;
    // min-height: 32px;
    // z-index: 1;
    // position: relative;
    // width: 100%;
    // display: flex;
    margin: 12px 40px 8px 56px;
    min-height: 32px;
    position: relative;
    z-index: 1;
    & .icon-card {
      left: -40px;
      position: absolute;
      top: 4px;
      font-family: icomoon;
    }
    .card-header-container {
      margin: 4px 0 0;
      padding: 8px 0 0;
    }

    & textarea {
      overflow: hidden;
      overflow-wrap: break-word;
      background: #0000;
      border-radius: 3px;
      box-shadow: none;
      font-size: 20px;
      font-weight: 600;
      height: 32px;
      line-height: 24px;
      margin: -4px -8px;
      min-height: 24px;
      padding: 4px 8px;
      resize: none;
      width: 100%;
      outline: none;
      border: none;

      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }

    // .header {
    //   flex-grow: 1;
    //   display: flex;
    //   gap: 5px;
    //   .header-text {
    //     flex-grow: 1;
    //     input {
    //       border: none;
    //       min-width: calc(100% - 30px);
    //       &:focus-visible {
    //         width: fit-content;
    //         outline-color: #0079bf;
    //       }
    //     }
    //   }
  }
  .close {
    border-radius: 50%;
    color: #42526e;
    height: 40px;
    margin: 4px;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 85ms, color 85ms;
    width: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      background-color: #091e4214;
      color: #42526e;
    }
  }
  .icon {
    &-sm {
      color: #42526e;
    }
    &-md {
      color: #42526e;
    }
    &-lg {
      color: #42526e;
    }
  }
}
.icon-header {
  .due-date {
    h3 {
      color: #5e6c84;
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      margin: 0 8px 4px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .due-date-body {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: 0 8px 8px 0;
      .check-box-container {
        flex-shrink: 0;
        height: 16px;
        width: 16px;
        // margin: auto 4px auto 0;
        display: flex;
        // white-space: nowrap;
        justify-content: center;
        align-items: center;
        // background-color: #fafbfc;
        // box-shadow: inset 0 0 0 2px #dfe1e6;
        border-radius: 2px;

        // // border-radius: 50%;
        // // position: relative;
        input {
          opacity: 0;
          // outline: 3px;
          //   height: 16px;
          //   width: 16px;
          //   // flex-shrink: 0;
          //   // height: 14px;
          //   // margin: auto 4px auto 0;
          //   // overflow: hidden;
          // border:none;
          //   // position: relative;
          //   // transition: all 0.2s ease-in-out;
          //   // white-space: nowrap;
          //   // width: 16px;
          //   cursor: pointer;
          //   &:hover{
          //     // background-color: inherit;
        }
        //   &:checked {
        //     // opacity: 1;
        //     // margin: 0;
        //     // height: 10px;
        //     // width: 10px;
        //     // background-color: #0079bf;
        //     // box-shadow: inset 0 0 0 2px #0079bf;
        //     // border-radius: 2px;
        //     // transition: all 0.2s ease-in-out;
        //     // white-space: nowrap;
        //   }
        // }
      }
    }
  }
  .date-picker {
    display: flex;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    background-color: rgba(9, 30, 66, 0.04);
    .time-label {
      font-size: 12px;
      line-height: 16px;
      padding: 0 4px;
      border-radius: 2px;
      margin: auto 0 auto 8px;
    }
  }
}
// }
.card-body {
  // display: flex;
  .main-details {
    float: left;
    margin: 0;
    min-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 8px 8px 16px;
    position: relative;
    width: 576px;
    z-index: 0;

    & > * {
      margin-bottom: 24px;
      position: relative;
      margin-left: 40px;
    }
    .description {
      & .card-details-icon {
        left: -40px;
        position: absolute;
        top: -2px;
        font-family: icomoon;
        &::after {
          content: "\e922";
        }
      }

      // header {
      //   color: #172b4d;
      //   display: flex;
      //   align-items: center;
      //   gap: 15px;
      //   margin-bottom: 24px;
      //   position: relative;
      // > * {
      //   color: #172b4d;

      //   font-size: 16px;
      //   //   margin: 0 0 4px 40px;
      //   //   padding: 8px 0;
      //   //   position: relative;
      // }
      & .content {
        align-items: center;
        display: flex;
        min-height: 32px;

        h3 {
          display: inline-block;
          margin: 0;
          margin-left: 10px;
          min-height: 18px;
          min-width: 40px;
          width: auto;
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
        }

        & .action-btn {
          margin-top: 0;
          margin-left: 8px;
        }
      }

      & textarea.desc {
        &:focus-visible {
          background-color: #fff;
          box-shadow: inset 0 0 0 2px #0079bf;
          padding: 8px 12px;
        }
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 100%;
        width: 100%;
        // color: #172b4d;
        border-radius: 3px;
        border: none;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        max-width: 100%;
        &::placeholder {
          color: inherit;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 10px;
      margin-top: 8px;
      // align-items: center;
      > * {
        &:hover {
          cursor: pointer;
        }
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
}
.side-menu {
  float: right;
  // overflow: hidden;
  padding: 0 16px 8px 8px;
  width: calc(100% - 578px);
  z-index: 10;
  // display: flex;
  // flex-direction: column;
  .date {
    position: relative;
    margin-top: 8px;
  }
}
.checklist-btn {
  position: relative;
}

.check-list {
  & .card-details-icon {
    left: -40px;
    position: absolute;
    top: 6px;
    font-family: icomoon;
    &::after {
      content: "\e91a";
    }
  }
}

.checklist-popup {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  position: absolute;
  top: 45px;
  right: -12px;
  width: 304px;
  padding-bottom: 12px;
  z-index: 70;
  & .popup-header {
    position: relative;
    .close-popup {
      color: #6b778c;
      padding: 10px 12px 10px 8px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      &:hover {
        color: #172b4d;
        cursor: pointer;
      }
    }

    & span {
      text-align: center;
      line-height: 42px;
      // font-family: Icomoon;
      display: block;
      width: 280px;
      margin: 0 12px;
      color: #5e6c84;
      border-bottom: 1px solid #091e4221;
    }
  }

  label {
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
  }
  input {
    @include popup-input;
  }
  input:focus {
    outline-color: #0079bf;
    box-shadow: inset 0 0 0 2px #0079bf;
  }
  select {
    margin-bottom: 14px;
  }
  button.submit {
    background-color: #0079bf;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    width: 75px;
    height: 32px;
    margin: 0 12px;
    margin-top: 8px;

    cursor: pointer;
  }
}
.checklist-popup form > *:not(button) {
  display: block;
  width: 280px;
  // margin: 0 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #5e6c84;
  border-bottom: 1px solid #091e4221;
}

@media (max-width: 784px) {
  .card-details {
    margin: 48px 7px 80px 7px;
    width: calc(100vw - 14px);
  }
  .main-details {
    width: 100% !important;
    float: none !important;
    padding: 0 16px 8px 16px !important;
  }
  .side-menu {
    float: none !important;
    width: 100% !important;
  }
}
@media (min-width: 784px) {
  .card-details {
    margin: 48px calc((100vw - 770px) / 2) 80px calc((100vw - 770px) / 2);
    min-width: 770px;
  }
}

.el-picker-panel.el-date-picker.el-popper {
  top: 47px !important;
  margin: 0;
  .popper__arrow {
    display: none;
  }
}

.test {
  font-family: icomoon;
  font-size: 20px;
  &::after {
    content: "\e912";
  }
}

.complete {
  color: #ffffff;
  background-color: #61bd4f;
}
.over-due {
  background-color: #eb5a46;
  color: #ffffff;
}
.due-soon {
  color: #172b4d;
  background-color: #f2d600;
}

.unCheck {
  background-color: #fafbfc;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  transition: all 0.2s ease-in-out;
}

.checked {
  background-color: #0079bf;
  box-shadow: inset 0 0 0 2px #0079bf;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}
.action-btn {
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-align: left;

  .side-menu & {
    width: 168px;
  }
  &.checklist-btn {
    max-width: fit-content;
    display: inline;
    // margin: 0;
  }

  &:hover {
    background-color: #091e4214;
    border: none;
    box-shadow: none;
  }
  &:active {
    background-color: #e4f0f6;
    border: none;
    box-shadow: none;
    color: #0079bf;
    outline: 0;
  }
}

.submit-btn {
  background-color: #0079bf;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
}

.activity-log {
  position: relative;
  font-family: icomoon;
  & .icon-activity {
    left: -40px;
    position: absolute;
    top: 0px;
  }
}


