.card-details {
  background-color: #f4f5f7;
  position: absolute;
  top: 47px;
  display: flex;
  gap: 35px;
  flex-direction: column;
  padding: 20px;
  min-height: 80vh;
  header {
    position: relative;
    width: 100%;
    display: flex;
    .header {
      flex-grow: 1;
      display: flex;
      gap: 5px;
      .header-text {
        flex-grow: 1;
        input {
          border: none;
          min-width: calc(100% - 30px);
          &:focus-visible {
            width: fit-content;
            outline-color: #0079bf;
          }
        }
      }
    }
    .close {
      right: 0;
      position: absolute;
      font-size: 20px;
    }
  }
  .icon-header {
    .dueDate {
      .timeLabel {
        font-size: 12px;
        line-height: 16px;
        padding: 0 4px;
        border-radius: 2px;
        // background-color: chocolate;
      }
    }
  }
  .card-body {
    display: flex;
    .main-details {
      display: flex;
      flex-direction: column;
      gap: 35px;
      flex-grow: 1;
      .description {
        header {
          display: flex;
          gap: 15px;
        }
        textarea {
          &:focus-visible {
            outline-color: #0079bf;
          }
          border: none;
          resize: none;
          width: 100%;
        }
        .buttons {
          display: flex;
          gap: 10px;
          // align-items: center;
          > * {
            &:hover {
              cursor: pointer;
            }
            justify-content: center;
            align-items: center;
            display: flex;
          }
          .save {
            background-color: #0079bf;
            border: none;
            color: #fff;
            border-radius: 3px;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            justify-content: center;
            line-height: 20px;
          }
        }
      }
    }
    .side-menu {
      display: flex;
      flex-direction: column;
      .date {
        position: relative;
      }
    }
    .checklist {
      position: relative;
    }

    .popup {
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
      position: absolute;
      top: 20px;
      right: 0px;
      width: 304px;
      padding-bottom: 12px;
      span:first-child {
        text-align: center;
        line-height: 42px;
        // font-family: Icomoon;
        display: block;
        width: 280px;
        margin: 0 12px;
        color: #5e6c84;
        border-bottom: 1px solid #091e4221;
      }
      label {
        font-size: 12px;
        margin-top: 4px;
        font-weight: bold;
      }
      input {
        -webkit-appearance: none;
        background-color: #fafbfc;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        box-sizing: border-box;
        display: block;
        line-height: 20px;
        margin-bottom: 12px;
        outline: none;
        padding: 8px 12px;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
      }
      input:focus {
        outline-color: #0079bf;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
      select {
        margin-bottom: 14px;
      }
      button {
        background-color: #0079bf;
        border: none;
        color: #fff;
        border-radius: 3px;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        width: 75px;
        height: 32px;
        margin-top: 8px;
        margin: 0 12px;

        cursor: pointer;
      }
    }
    .popup form > *:not(button) {
      display: block;
      width: 280px;
      margin: 0 12px;
      color: #5e6c84;
      border-bottom: 1px solid #091e4221;
    }
  }

  @media (max-width: 784px) {
    margin: 0 7px;
    width: calc(100% - 14px);
  }
  @media (min-width: 784px) {
    margin: 0 calc((100vw - 770px) / 2);
    min-width: 770px;
  }
}

.el-picker-panel.el-date-picker.el-popper {
  top: 47px !important;
  margin: 0;
  .popper__arrow {
    display: none;
  }
}

.over-due {
  background-color: #EB5A46;
  color: #FFFFFF;
}
.due-soon {
  color: #172B4D;
  background-color: #f2d600;
}

.icon {
  font-family: icomoon;
  font-size: 20px;
  &::after {
    content: "\e91a";
  }
}
