.card-details-container {
  display: flex;
  align-items: flex-start;
  background-color: #000000a3;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  overflow-x: hidden;
}
.card-details {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  position: relative;
  width: 768px;
  z-index: 25;
  .cover-wrapper {
    background-size: contain;
    background-origin: content-box;
    box-sizing: border-box;
    background-position: center center;
    background-color: transparent;
    // background-image: url(https://res.cloudinary.com/oshra/image/upload/v1638727515/a4mttgg817dppktjssoh.png);
    background-repeat: no-repeat;
    height: 160px;
    min-height: 160px;
    padding: 0px;
    position: relative;
    .cover-menu-header {
      align-items: center;
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      padding: 8px;
      position: absolute;
      width: 100%;
      .cover-menu-btn {
        border-radius: 3px;
        padding: 6px 12px 6px 6px;
        text-decoration: none;
        &:hover {
          // background-color: #000000cb;
          // background-color: #00000029;
          cursor: pointer;
        }
      }
    }
  }
  & header {
    margin: 12px 40px 8px 56px;
    min-height: 32px;
    position: relative;
    z-index: 1;
    & .icon-card {
      left: -40px;
      position: absolute;
      top: 4px;
      font-family: icomoon;
    }
    .card-header-container {
      margin: 4px 0 0;
      padding: 8px 0 0;
      h5 {
        font-weight: 400;
        letter-spacing: 0.2px;
        color: #5e6c84;
        span {
          text-decoration: underline;
        }
      }
    }

    & textarea {
      overflow: hidden;
      overflow-wrap: break-word;
      background: #0000;
      border-radius: 3px;
      box-shadow: none;
      font-size: 20px;
      font-weight: 600;
      height: 32px;
      line-height: 24px;
      margin: -4px -8px;
      min-height: 24px;
      padding: 4px 8px;
      resize: none;
      width: 100%;
      outline: none;
      border: none;

      &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
      }
    }
  }
  .close {
    border-radius: 50%;
    color: #42526e;
    height: 40px;
    margin: 4px;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 85ms, color 85ms;
    width: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      background-color: #091e4214;
      color: #42526e;
    }
    & > * {
      margin: 0;
    }
  }
  .icon {
    &-sm {
      color: #42526e;
    }
    &-md {
      color: #42526e;
    }
    &-lg {
      color: #42526e;
    }
  }
}
.icon-header {
  .due-date {
    clear: both;
    h3 {
      color: #5e6c84;
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      margin: 0 8px 4px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .due-date-body {
      width: fit-content;
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: 0 8px 8px 0;
    }
  }
  .date-picker {
    // .time-label {
    //   position: absolute;
    //   font-size: 12px;
    //   line-height: 16px;
    //   padding: 0 4px;
    //   border-radius: 2px;
    //   margin: auto 0 auto 8px;
    // }
  }
}
// }
.card-body {
  .main-details {
    float: left;
    margin: 0;
    height: fit-content;
    min-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 8px 8px 16px;
    position: relative;
    width: 576px;
    z-index: 0;

    & > * {
      margin-bottom: 24px;
      position: relative;
      margin-left: 40px;
    }
    .attachments {
      .attach-header {
        margin: 0 0 4px 0px;
        padding: 8px 0;
        // position: relative;
        .icon-attach {
          padding: 8px 0;

          left: -40px;
          position: absolute;
          top: -5px;
        }
        h3 {
          display: inline-block;
          margin: 0;
          min-height: 18px;
          min-width: 40px;
          width: auto;
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
        }
      }
    }
    .description {
      clear: both;
      & .card-details-icon {
        left: -40px;
        position: absolute;
        top: -2px;
        font-family: icomoon;
        &::after {
          content: '\e922';
        }
      }
      & .content {
        align-items: center;
        display: flex;
        min-height: 32px;

        h3 {
          display: inline-block;
          margin: 0;
          min-height: 18px;
          min-width: 40px;
          width: auto;
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
        }

        & .action-btn {
          margin-top: 0;
          margin-left: 8px;
        }
      }

      & div.desc {
        &:focus-visible {
          background-color: #fff;
          box-shadow: inset 0 0 0 2px #0079bf;
          padding: 8px 12px;
          outline: none;
        }
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 100% !important;
        width: 100%;
        border-radius: 3px;
        border: none;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        max-width: 100%;
        &::placeholder {
          color: inherit;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 10px;
      margin-top: 8px;
      > * {
        &:hover {
          cursor: pointer;
        }
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
}
.side-menu {
  float: right;
  padding: 0 16px 8px 8px;
  width: calc(100% - 578px);
  z-index: 10;
  & hr {
    background-color: #091e4221;
    border: 0;
    height: 1px;
    margin: 16px 0;
    padding: 0;
    width: 100%;
  }

  & h3 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    line-height: 20px;
    margin-bottom: -4px;
    margin-top: 16px;
  }

  & .not-yet {
    cursor: not-allowed;
    color: #a5adba;
    & > * {
      color: #a5adba;
    }
  }

  .date {
    position: relative;
    margin-top: 8px;
  }
}
.checklist-btn {
  position: relative;
}

.attachment-btn {
  position: relative;
}

.check-list {
  & .card-details-icon {
    left: -40px;
    position: absolute;
    top: 6px;
    font-family: icomoon;
    &::after {
      content: '\e91a';
    }
  }
}

@media (max-width: 784px) {
  .card-details {
    margin: 48px 7px 80px 7px;
    width: calc(100vw - 14px);
  }
  .main-details {
    width: 100% !important;
    float: none !important;
    padding: 0 16px 8px 16px !important;
  }
  .side-menu {
    float: none !important;
    width: 100% !important;
  }
}
@media (min-width: 784px) {
  .card-details {
    margin: 48px calc((100vw - 770px) / 2) 80px calc((100vw - 770px) / 2);
    min-width: 770px;
  }
}

.el-picker-panel.el-date-picker.el-popper {
  top: 47px !important;
  margin: 0;
  .popper__arrow {
    display: none;
  }
}

.test {
  font-family: icomoon;
  font-size: 20px;
  &::after {
    content: '\e912';
  }
}

.complete {
  color: #ffffff;
  background-color: #61bd4f;
}
.over-due {
  background-color: #eb5a46;
  color: #ffffff;
}
.due-soon {
  color: #172b4d;
  background-color: #f2d600;
}

input[id='cb'] + label {
  display: inline-block;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  margin: 8px 6px 0 0;
  border-radius: 2px;
  cursor: pointer;
}
input[id='cb']:checked + label:after {
  position: relative;
  box-sizing: border-box;
  color: white;
  padding: 2px;
  font-family: icomoon;
  content: '\e916';
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #0079bf;
  box-shadow: inset 0 0 0 2px #0079bf;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}
input[id='cb'] {
  display: none;
}

.action-btn {
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-align: left;

  .side-menu & {
    width: 168px;
  }
  .suggestions & {
    width: auto;
  }

  &.checklist-btn {
    max-width: fit-content;
    display: inline;
  }

  &:hover {
    background-color: #091e4214;
    border: none;
    box-shadow: none;
  }
  &:active {
    background-color: #e4f0f6;
    border: none;
    box-shadow: none;
    color: #0079bf;
    outline: 0;
  }
}

.submit-btn {
  background-color: #0079bf;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
}

.activity-log {
  position: relative;
  & .icon-activity {
    left: -40px;
    position: absolute;
    top: -7px;
  }
}

.comment-box {
  margin-top: 20px;
  position: relative;
  // transition-property: padding;
  // transition-duration: 0.2s;
  & textarea {
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    // border: none;

    // height: fit-content;
    resize: none;
    padding: 8px 12px;
    // padding: 0;

    :focus-visible {
      // border: none;
    }
  }
  & .submit-btn {
    opacity: 0;
  }
}

.onComment {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px 12px 56px;
  transition-duration: 0.2s;

  & textarea {
    cursor: auto;
    border: none;
    // overflow: hidden;
    // overflow-wrap: break-word;
    padding: 0px;
  }
  & .submit-btn {
    transition: 0.7s;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: inline;

    &.empty {
      background-color: #a5adba;
      // color: #a5adba;
    }
  }
}

.member-avatar {
  margin: 0 4px;
  cursor: pointer;
}
.round {
  border-radius: 20em;
  height: 32px;
  width: 32px;
  padding: 6px 9px;
  overflow: visible;
  margin-right: 5px;
}


.light-btn {
  background-color: #ffffff3d;
  color:#fff;
  &:hover{
    background-color: #ffffff52;
  }

}

.dark-btn {
  background-color: #00000014;
  color: #172b4d;
  &:hover{
  background-color: #00000029;
}
}