.checklist {
  position: relative;
  & .icon-container {
    position: absolute;
    top: 8px;
    left: 0px;
  }
  & .checklist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // margin: 0 0 4px 40px;
    padding: 8px 0px;

    .checklist-actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & > * {
        margin-right: 5px;
        margin-top: 0;
      }
    }
  }
  & form.editor {
    // margin: 0 0 4px 40px;
    margin-bottom: 10px;
    & textarea {
      width: 512px;
      overflow: hidden;
      overflow-wrap: break-word;
      resize: none;
      height: 54px;
      background: #091e420a;
      border-color: #091e4221;
      box-shadow: inset 0 0 0 1px #091e4221;
      margin-bottom: 4px;
      border-radius: 3px;
    }
  }

  & li {
    display: flex;
    justify-content: space-between;
    padding: 6px 6px;
    border-radius: 3px;

    &:hover {
      background-color: #091e420a;
      .td-action {
        opacity: 1;
      }
    }
  }

  & .done {
    text-decoration: line-through;
  }
  .td-action {
    opacity: 0;
    // z-index: 100;
    position: relative;

    & .td-popup {
      top: 0px;
    }
  }
}
.add-item {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  padding: 8px 12px;
  width: 100%;
  border-radius: 3px;
  border: none;
  resize: none;
  &::placeholder {
    color: inherit;
  }
  &:focus-visible {
    outline: none;
  }
}

.c-b-container {
  position: relative;
}
.c-b-btn {
  position: absolute;
  top: -4px;
  left: -42px;
  &:checkbox {
    border: none;
    outline: none;
    text-shadow: none;
    width: 50px;
  }
}
.checklist-progress {
  margin-bottom: 6px;
  position: relative;
  width: 100%;
}
.checklist-progress-percentage {
  color: #5e6c84;
  font-size: 11px;
  left: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: -1px;
  left: -43px;
  width: 32px;
}
.checklist-progress-bar {
  background: #091e4214;
  border-radius: 4px;
  clear: both;
  height: 8px;
  margin: 0 0 0 0px;
  overflow: hidden;
  position: relative;

  &.dummy {
    opacity: 0;
    margin-bottom: 10px;
  }
}
.checklist-progress-bar-current {
  background: #5ba4cf;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition-duration: 0.14s;
  transition-property: width, background;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
}

.finished {
  background: #61bd4f;
}
.checklist-completed-text {
  display: block;
  margin: 8px 0 15px 0px;
  color: #5e6c84;
}
.drag {
  background-color: rgb(255, 255, 255);
  opacity: 1 !important;
}
