.checklist {
  position: relative;
  & .icon-container {
    position: absolute;
    top: 8px;
    left: 0px;
  }
  & .checklist-header {
    display: flex;
    justify-content: space-between;
    // margin: 0 0 4px 40px;
    padding: 8px 0px;
  }
  & form.editor {
    // margin: 0 0 4px 40px;
    & textarea {
      width: 512px;
      overflow: hidden;
      overflow-wrap: break-word;
      resize: none;
      height: 54px;
      background: #091e420a;
      border-color: #091e4221;
      box-shadow: inset 0 0 0 1px #091e4221;
      margin-bottom: 4px;
      border-radius: 3px;
    }
  }

  & li {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
  }

  & .done {
    text-decoration: line-through;
  }
}
