.cover-popup {
  color: #5e6c84;
  .icon-close {
    margin-right: 0;
  }
  label {
    font-size: 12px;
    font-weight: 600;
  }
  .action-btn {
    cursor: pointer;
    > * {
      cursor: pointer;
    }
  }
  .unsplash-container,
  .attachments-container,
  .search-preview {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .colors-container,
  .unsplash-container,
  .attachments-container,
  .search-results,
  .search-preview {
    gap: 8px;
    padding: 4px;
    margin: 0 -4px;
    overflow-x: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    display: grid;
    > * {
      cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: none;
      margin: 0;
      border-radius: 3px;
      &.selected-btn {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
        filter: none;
      }
    }
  }
  .cover {
    margin-top: 8px;
    .action-btn {
      width: 100%;
      text-align: center;
    }
    .colors-container {
      overflow-x: hidden;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin-bottom: 16px;
      .color {
        width: 50px;
        height: 32px;
        cursor: pointer;
        &.selected-btn {
          box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
          filter: none;
        }
      }
    }

    .attachments-container {
      margin-bottom: 16px;
    }
    .attachments-container,
    .unsplash-container {
      > * {
        height: 48px;
        width: 88px;
        margin: 0;
      }
    }
  }
  .photo-search {
    .icon-back {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 2;
      margin: 10px 8px 10px 12px;
      cursor: pointer;
      &:hover {
        color: #172b4d;
      }
    }
    input {
      margin-top: 16px;
    }
    .loader {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      img {
        width: 15px;
        height: 15px;
        margin-right: 3px;
      }
    }
    .suggestions {
      margin-top: 8px;
      margin-bottom: 12px;
      > * {
        margin: 0 4px 4px 0;
        display: inline;
      }
    }
    .search-preview {
      > * {
        height: 48px;
        width: 88px;
      }
    }
    .search-results {
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: 0;
      max-height: 512px;
      max-width: 100%;
      grid-template-columns: 1fr 1fr;
      > * {
        position: relative;

        height: 81px;
        width: 136px;
      }
    }
    footer {
      position: relative;
      text-align: right;
      a {
        color: #5e6c84;
      }
      .loader {
        position: absolute;
      }
    }
  }
}
