.home {
  background-color: #fafbfc;
  display: flex;
  //   min-height: calc(100vh - 98px);

  .menu {
    margin: 40px 0 0;
    position: sticky;

    // top: 0px;
    nav {
      // margin: 40px 0 0;
      width: 240px;
      padding: 0 16px;
      > * {
        display: flex;
        flex-direction: column;
      }
      .action-btn {
        display: flex;
        align-items: center;
        padding: 6px 0 6px 3px;
      }
      .top-menu {
        margin-bottom: 12px;
        > * {
          margin-bottom: 4px;
          text-align: -webkit-match-parent;
        }
        .action-btn {
          &:hover {
            background-color: rgba(9, 30, 66, 0.08);
          }
          .icon-wrapper {
            display: inline-flex;
            justify-content: center;
            flex: 0 0 auto;
            text-align: center;
            width: 32px;
          }
          .text {
            font-weight: bold;
            width: min-content;
            padding-top: 2.5px;
          }
        }
      }
      .bottom-menu {
        margin-bottom: 12px;
        .action-btn {
          padding: 6px 0px 6px 12px;
        }
        .workspaces {
          color: #606e85;
          font-size: 12px;
          line-height: 16px;
          font-weight: 600;
          background-color: rgba(255, 235, 205, 0);
          .add {
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
          }
          .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 32px;
            span {
              border-radius: 2px;
              &:hover {
                background-color: rgba(9, 30, 66, 0.08);
              }
            }
          }
        }
        .fellow {
          .action-btn {
            padding: 6px 0px 6px 6px;
            height: 45px;
            justify-content: space-between;
            &:hover {
              background-color: rgba(9, 30, 66, 0.08);
            }
            .F-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              .F {
                flex: 0 0 auto;
                background: linear-gradient(#006644, #00875a);
                color: #ffffff;
                font-size: 14px;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 1px;
                height: 21px;
                width: 21px;
                margin: 6px;
                background: linear-gradient(#006644, #00875a);
              }
            }
            .arrow {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 32px;
              svg {
                border-radius: 2px;
                font-size: 16px;
                // font-weight: 100;
                height: 12px;
                line-height: 20px;
                width: 20px;
                margin-right: 6px;
                -webkit-font-smoothing: antialiased;
                font-style: normal;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .boards {
    flex-grow: 1;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1266px;
    .workspaces {
      padding: 12px 0;
      max-width: 1250px;
      margin: 0 auto 24px auto;
      header {
        align-items: center;
        color: #5e6c84;
        display: flex;
        flex: 1;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 20px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .workspaces {
      .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 8px;
        position: relative;
        .header-wrapper {
          margin-right: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 40px;
          .header {
            color: #172b4d;
            display: flex;
            flex: 1;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
          }
        }
        .btns {
          display: inline-flex;
          flex-wrap: wrap;
          height: auto;
          flex-flow: row wrap;
          white-space: nowrap;
          align-items: center;
          width: 100%;
          > * {
            margin-left: 8px;
            .icon-wrapper {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 32px;
            }
            .text {
              padding-top: 2.5px;
            }
          }
          &::before {
            content: '';
            flex: auto;
          }
        }
      }
    }
    .workspaces-boards {
      width: 100%;
      // width: 100%;
      display: flex;
      flex-wrap: wrap;

      > * {
        @media (max-width: 750px) {
          margin-bottom: 8px;
          margin-right: 8px;
          &:nth-child(2n + 2) {
            margin-right: 0px;
          }
          width: calc(50% - 4px);
        }
        @media only screen and (min-width: 751px) and (max-width: 900px) {
          margin-right: 2%;
          width: 32%;
          &:nth-child(3n + 3) {
            margin-right: 0px;
          }
        }
        @media only screen and (min-width: 901px) {
          margin: 0 2% 2% 0;
          padding: 0;
          width: 23.5%;
          &:nth-child(4n + 4) {
            margin-right: 0px;
          }
        }
      }
      li {
        cursor: pointer;
        margin-bottom: 2%;
        > * {
          width: 100%;
          border-radius: 3px;

          background-color: #0006;
          &:hover {
            background-color: rgba(0, 0, 0, 0.514);
          }
        }

        span {
          padding: 12px 7px;
          line-height: 20px;
          // min-height: 96px;
          overflow: hidden;
          text-overflow: ellipsis;
          //   -webkit-box-orient: vertical;
          word-wrap: break-word;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .add {
        background-color: #f0f2f5;
        color: #172b4d;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #727e93;
        cursor: pointer;
        &:hover {
          background-color: #091e4214;
          border: none;
          box-shadow: none;
        }
      }
      > * {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        border-radius: 3px;
        color: white;
        object-fit: cover;
        justify-content: flex-start;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-position: center;
        padding: 0;
        // width: 32%;
        min-height: 96px;
        max-height: 96px;
      }
    }
  }
  @media (max-width: 675px) {
    // flex-direction: column-reverse;
    min-height: 100vh;
    .menu{
     display: none;
    }
    
  }
}

// .add-board-screen {
//   display: flex;
//   align-items: flex-start;
//   background-color: #000000a3;
//   height: 100%;
//   justify-content: center;
//   left: 0;
//   overflow-y: auto;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 20;
//   overflow-x: hidden;

//   & .add-board {
//     background: transparent;
//     // background: white;
//     width: 404px;
//     // width: auto;
//     height: 280px;
//     position: absolute;
//     z-index: 25;
//     margin: 48px 0;

//     & .add-title {
//       background-color: #0079bf;
//       background-size: cover;
//       background-position: center center;
//       border-radius: 3px;
//       box-sizing: border-box;
//       color: #fff;
//       height: 96px;
//       padding: 10px 10px 10px 16px;
//       position: relative;
//       width: 296px;
//     }

//     & input {
//       border: none !important;
//       background: transparent !important;
//       box-shadow: none;
//       box-sizing: border-box;
//       color: #fff;
//       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
//         'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
//       font-size: 16px;
//       font-weight: 700;
//       left: -8px;
//       line-height: 24px;
//       margin-bottom: 4px;
//       padding: 2px 8px;
//       position: relative;
//       width: calc(100% - 18px - 16px);

//       &:focus {
//         background: rgba(255, 255, 255, 0.3) !important;
//         box-shadow: none;
//         outline: none;
//         border-radius: 3px;
//       }
//     }

//     & button {
//       &.submit {
//         // background-color: rgba(9, 30, 66, 0.04);
//         box-shadow: none;
//         border: none;
//         width: 105px;
//         margin-top: 8px;
//         border-radius: 3px;
//         padding: 6px 12px;
//         background-color: #0079bf;
//         color: #ffffff;
//         cursor: pointer;

//         &:hover {
//           background-color: #026aa7;
//         }
//         &:active {
//           background-color: #055a8c;
//         }

//         &.disable {
//           color: #a5adba;
//           background-color: #f4f5f7;
//           cursor: not-allowed;
//         }
//       }

//       &.close {
//         color: #fff;
//         float: right;
//         position: absolute;
//         right: 110px;
//         top: 3px;
//         background-color: transparent;
//         border: none;
//         box-shadow: none;
//         color: #42526e;
//         padding: 0;
//         text-decoration: none;
//         cursor: pointer;
//       }
//     }
//   }
// }
