.invite {
  //   background-color: pink;
  text-align: left;
  left: -100px;
  .invite-body {
    max-height: 350px;
    overflow-y: scroll;
  }

  & input {
    &::placeholder {
      color: #5e6c84;
    }
  }

  .invite-icon {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    // margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    width: 32px;
    z-index: 0;
    // margin-right: 8px;
    text-align: center;
    font-size: 18px;
    color: white;
    & > * {
      margin: 0;
    }

    span {
      padding: 0;
    }
  }
}
