.label-green {
  background-color: #61bd4f;
}
.label-yellow {
  background-color: #f2d600;
}
.label-orange {
  background-color: #ff9f1a;
}
.label-red {
  background-color: #eb5a46;
}
.label-purple {
  background-color: #c377e0;
}
.label-blue {
  background-color: #0079bf;
}

.labels {
  background-color: rgb(225, 238, 200);
}

.labels-popup {
  position: absolute;
  background-color: moccasin;
  z-index: 10;
}

.label-tag {
  width: 50px;
  height: 50px;
}

.preview-label {
  // height: 16px;
  // line-height: 16px;
  // max-width: 198px;
  // padding: 0 8px;
  // border-radius: 4px;
  color: #fff;
  font-weight: 700;
}
