.label-green {
  background-color: #61bd4f;
}
.label-yellow {
  background-color: #f2d600;
}
.label-orange {
  background-color: #ff9f1a;
}
.label-red {
  background-color: #eb5a46;
}
.label-purple {
  background-color: #c377e0;
}
.label-blue {
  background-color: #0079bf;
}
