.main-menu {
  position: fixed;
  right: 0px;
  border-radius: 0;
  width: 340px;
  height: 100vh;
  padding: 0 6px 0 12px;
  transition: transform 0.5s;
  span {
    color: #172b4d;
  }

  .card-popup {
    top: 0px;
  }

  .popup-header h4 {
    width: 100%;
    line-height: 48px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 6px;
    letter-spacing: -0.2px;
    font-size: 16px;
  }

  .menu-close {
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 8px;
    margin: 0 0;
    padding: 0 1px;
  }

  .back-popup {
    font-size: 20px;
    position: absolute;
    color: #172b4d;
    left: 6px;
    top: 8px;
  }

  .main-menu-actions {
    display: flex;
    flex-direction: column;
    padding: 0 13px;
    padding-block-end: 25px;
    border-bottom: 1px solid #091e4221;

    // li {
    //   cursor: pointer;

    //   :hover {
    //   }
    // }

    .menu-about {
      padding-block-start: 16px;
      h3 {
        line-height: 28px;
        font-weight: 500;
        font-size: 14px;
      }
      .menu-action-icon {
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: #172b4d;
        line-height: 30px;
      }

      p {
        line-height: 14px;
      }
    }
  }

  .menu-action {
    padding-block-start: 14px;

    .icon-img {
      height: 0;
      padding: 10px;
      margin-inline-end: 12px;
      background-size: contain;
    }

    h3 {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .menu-background-size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 149px;
    background-size: cover;
    margin-inline-end: 8px;
    border-radius: 8px;
    margin: 0 4px 8px 4px;
    cursor: pointer;
    position: relative;
    .loader {
      width: 100%;
      border-radius: 0 0 8px 8px;
      // padding: 0 5px;
      position: absolute;
      background: #00000080;
      bottom: 0;
      font-size: 14px;
      height: 24px;
      line-height: 20px;
      padding: 2px 12px;
      opacity: 1;
      color: white;
      text-decoration: underline;
      text-decoration-thickness: 0.5px;
      img {
        height: 15px;
        width: 15px;
        margin-right: 7px;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
  .main-menu-background {
    display: flex;
    padding-block-start: 10px;
    padding-block-end: 12px;
    border-bottom: 1px solid #091e4221;
    li {
      line-height: 23px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .background-photo {
      background-image: url('~@/assets/img/menu-photos.jpg');
    }
    .background-colors {
      background-image: url('~@/assets/img/menu-colors.jpg');
    }
  }

  .menu-bgc-custom {
    padding-block-start: 22px;
    font-size: 14px;
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-block-end: 10px;
    }
  }

  .custom-btn {
    font-size: 30px;
  }

  .menu-color-set {
    padding-block-start: 12px;
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 162px);
    overflow-y: scroll;
  }

  .main-menu-search {
    position: relative;
  }
}
.show-main-menu {
  // right: -400px;
  transform: translateX(0px);
}

.hide-main-menu {
  // right: 400px;
  transform: translateX(400px);
}

.main-menu-spacing {
  padding-right: 344px;
}
