.bell-notify {
  background-color: #eb5a46 !important;
}

.notification-popup {
  display: flex;
  width: 333px;
  flex-direction: column;
  padding-left: 20px;
  align-items: center;
  height: 87vh;
  overflow-y: scroll;

  .notification-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .activity-item {
      max-width: 220px;
      min-width: 205px;
    }
  }
}
