* {
  box-sizing: border-box;
}

html {
  //   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  //     "Helvetica Neue", Arial, sans-serif #665;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif #665;
  line-height: 1.8;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
}

body,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

img {
  width: 100%;
}

p {
  //   margin: 0 0 1rem;
  //   max-width: 60ch;
}

ul {
  padding: 0;
  margin: 0;
}

#app {
  padding-block-start: 44px;
  .display-modal {
    position: relative;
    overflow-x: hidden;
    height: calc(100vh - 44px);
  }
}
