// Aspect ratios

// .ratio-16-9 {
//   @include aspect-ratio(100, 56);
// }

// .ratio-square {
//   @include aspect-ratio(100, 100);
// }

// .ratio-card {
//   @include aspect-ratio(100, 80);
// }

// .ratio-poster {
//   @include aspect-ratio(100, 150);
// }

// .light-btn {
//   background-color: '#ffffff3d';
//   color: '#fff';
// }

// .dark-btn {
//   background-color: '#00000014';
//   color: '#172b4d';
// }

// .light-text {
//   color: '#fff';
// }

// .dark-text {
//   color: '#172b4d';
// }

.icon {
  &-sm {
    font-family: icomoon;
    // color: #42526e;
    font-weight: 400;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    text-align: center;
  }
  &-md {
    font-family: icomoon;
    // color: #42526e;
    font-size: 20px;
    margin-right: 6px;
  }
  &-lg {
    font-family: icomoon;
    // color: #42526e;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin-right: 6px;
  }
}

.icon-desc {
  @include to-icon('\e922');
}

.icon-dots {
  @include to-icon('\e952');
}
.icon-clock {
  @include to-icon('\e91b');
}
.icon-bell {
  @include to-icon('\e94c');
}
.icon-checklist {
  @include to-icon('\e91a');
}
.icon-plus {
  @include to-icon('\e901');
}

.icon-star {
  @include to-icon('\e966');
}

.icon-member {
  @include to-icon('\e946');
}

.icon-attach {
  @include to-icon('\e908');
}

.icon-label {
  @include to-icon('\e93f');
}

.icon-cover {
  @include to-icon('\e914');
}

.icon-move {
  @include to-icon('\e94a');
}

.icon-copy {
  @include to-icon('\e91f');
}

.icon-watch {
  @include to-icon('\e969');
}

.icon-archive {
  @include to-icon('\e907');
}

.icon-remove {
  @include to-icon('\e95c');
}

.icon-share {
  @include to-icon('\e963');
}

.icon-check {
  @include to-icon('\e916');
}

.icon-close {
  @include to-icon('\e91c');
}

.icon-activity {
  @include to-icon('\e900');
}
.icon-add-member {
  @include to-icon('\e902');
}
.icon-mention {
  @include to-icon('\e947');
}
.icon-emoji {
  @include to-icon('\e92a');
}

.icon-edit {
  @include to-icon('\e928');
}

.icon-refresh {
  @include to-icon('\e95b');
}
.icon-template {
  @include to-icon('\e96e');
}
.icon-template-board {
  @include to-icon('\e96d');
}
.icon-card {
  @include to-icon('\e912');
}
.icon-board {
  @include to-icon('\e90b');
}
.icon-home {
  @include to-icon('\e938');
}
.icon-gear {
  @include to-icon('\e932');
}
.icon-back {
  @include to-icon('\e90a');
}
.icon-external {
  @include to-icon('\e92c');
}
.icon-cover {
  @include to-icon('\e914');
}
.icon-search {
  @include to-icon('\e960');
}
.icon-back {
  @include to-icon('\e90a');
}
