@mixin popup-input {
  -webkit-appearance: none;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
  outline: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  &:focus {
    outline-color: #0079bf;
    box-shadow: inset 0 0 0 2px #0079bf;
  }
  &:hover {
    cursor: pointer;
    background-color: #ebecf0;
  }
}

@mixin basic-selector {
  color: #5e6c84;
  &:hover {
    background-color: #091e4214;
    color: #172b4d;
    cursor: pointer;
  }
}

@mixin icon-btn {
  position: absolute;
  color: #5e6c84;
  top: 4px;
  right: 4px;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

@mixin to-icon($content) {
  &::before {
    content: $content;
  }
}

/* Media queries Breakpoint mixins */

// @mixin for-mobile-layout {
//   @media (max-width: $break-narrow) {
//     @content;
//   }
// }

// @mixin for-narrow-layout {
//   @media (min-width: $break-narrow) {
//     @content;
//   }
// }

// @mixin for-normal-layout {
//   @media (min-width: $break-normal) {
//     @content;
//   }
// }

// @mixin for-wide-layout {
//   @media (min-width: $break-wide) {
//     @content;
//   }
// }

// @mixin layoutGTC($max) {
//   grid-template-columns:
//     minmax($layoutPadding, 1fr)
//     minmax(auto, $max)
//     minmax($layoutPadding, 1fr);
// }

// /* Media  Mixins */

// //aspect ratio mixin
// @mixin aspect-ratio($width: 1, $height: 1) {
//   position: relative;
//   overflow: hidden;
//   &:before {
//     content: '';
//     display: block;
//     width: 100%;
//     padding-top: ($height / $width) * 100%;
//   }
//   > * {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
//   > img {
//     height: 100%;
//     object-fit: cover;
//   }
// }

// // Mixin for removing hover efects on iphone screen
// @mixin hover-supported {
//   @media not all and (pointer: coarse) {
//     &:hover {
//       @content;
//     }
//   }
// }
